.loadingHeaderTitle {
  display: flex;
  justify-content: center;
    //text-align: center;
    position: sticky;
    //background-color: #99477a;
    width: 100%;

    z-index:11;


    .topHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        z-index: 20;
    }
    .language{
        display: flex;
        flex-direction: row;
        color: white;

        a{
            cursor: default;
        }
        a:hover {
            color: white;
        }
    }
    input[type="checkbox"].demo5 {
        display: none;
    }
    input[type="checkbox"].demo5 + label {
        box-sizing: border-box;
        display: inline-block;
        width: 3rem;
        height: 1.5rem;
        border-radius: 1.5rem;
        padding:2px;
        background-color: #6d477a ;
        transition: all 0.5s ;
        cursor: pointer;
        margin-top: -3px;
        margin-left: 8px;
    }
    input[type="checkbox"].demo5 + label::before {
        box-sizing: border-box;
        display: block;
        content: "";
        height: calc(1.5rem - 4px);
        width: calc(1.5rem - 4px);
        border-radius: 50%;
        background-color: white;
        transition: all 0.5s ;
    }
    input[type="checkbox"].demo5:checked + label {
        background-color: #b674cc ;
    }
    input[type="checkbox"].demo5:checked + label::before {
        margin-left: 1.5rem ;
    }
    img {
        width: 5dvh;
        color: white;
    }
    h1 {

        color:white;
        z-index: 2;
    }
    .li {
        list-style: none;
      }
      a,
      a:visited {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
      a:hover {
        color: #b674cc;
        transition: 1s;
      }
      /**** NAVBAR ****/
      nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
      }
      nav .ul {
        display: flex;
        justify-content: space-between;
        width: 60%;
        padding-top: 2dvh;
      }
      #icons {
        display: none;
      }
      @media (max-width: 650px) {

}


}