.header2 {
    position: sticky;
    //display: flex;

//top:50dvh;
    //background-color: #99477a;
    width: 100%;
    height: 21dvh;
    z-index:18;
a{
    text-decoration: none;
}

    h1 {
        margin-left: 50px;
        text-decoration: none;
        font-family: "hayanbaram", sans-serif;
        font-weight: 400;
        font-style: normal;
        color:white;
        z-index: 2;


    }
}



