.sliderContainer {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.likeSlider{
    position: absolute;
    z-index: 5;
    bottom: 1dvh;
    right: 0px;
    filter: invert(1);
    background-color: white;
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
    opacity: 0.8;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    //height: 490px;
    background-color: white;
    overflow: hidden;
  }

  .carousel-img {
    object-fit: cover;
    position: relative;
    //height: 100%;
    
    @media ( aspect-ratio> 0.935 / 1) {
        width: 100%;  
    }
    @media ( aspect-ratio< 0.935 / 1) {
        //max-height: 71dvh;
        //width: 100%;
        height: 100%;
    }
  }
  .carousel-img-mini {
    object-fit: cover;
    position: relative;
    min-width: 100%;
    height: 180px;
    //height: 100%;
    transform-origin: top left;
    //left: -50%;
    //transform-origin: 50%;
    //left: -260px;
    //margin-left: -70%;
    top: 0px;
  }
  .sliderContent{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    white-space: initial;
    background-color: black;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    opacity: 0.8;
    @media (max-width: 650px) {
        font-size: 1rem;
    }
  }
  .sliderTextDiv{
    top: auto;
    position:absolute;
    width: 50dvw;
  }
.arrowAndCounter{
  display: flex;
  justify-content: center;
}
.counter {
    position: absolute;
    z-index: 3;
    top: 60dvh;
    //left: 43%;
    //justify-self: center;
    font-size: 18px;
    color: #FFF; 
    background-color: black;
    //margin: 20px;
    padding: 10px;
    border-radius: 20px;
}

.arrowLeft {
    position: absolute;
    z-index: 3;
    top: 30dvh;
    left: 0px;
    cursor: pointer;
}

.arrowRight {
    position: absolute;
    z-index: 3;
    top: 30dvh;
    right: 0px;
    cursor: pointer;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    height: 100%;
    width: 100%;
    //position: relative;
    //top: 0;
    //padding-top: 0;
  }

.sliderField:hover {

    .like{
      //left: 0;
      right: -10px;
      transition: 1000ms;
      bottom: 10px;
  }
}
.sliderField{
  .like{
    //color: black;
    //background-color: white;
    bottom: 10px;
            .logoLike{
              //color: white;
            filter: invert(1);
        }
}
}
.buttonArrow{
  border: 0px;
  background: none;
  //height: fit-content;
}