.parralaxField {
    width: 100%;
    //background-color: #99477a;
    .animation, .animation_layer {
        height: 90dvh;
    }
    .purple {
      background-color: #99477a;
      height: 110dvh;
      z-index: -2;
      .welcome{
        position: relative;
        display: flex;
        justify-content: center;
        width: 98%;
        margin: 1%;
        height: 68dvh;
        overflow: hidden;
        border-radius: 20px;
        .particules {
          position: absolute;
          left: 0;
          min-width: 100%;
          opacity: 0.1;
        }
        .welcomeText{
          z-index: 1;
          color: white;
          padding: 25px;
          text-align: center;
          font-size: 1.5rem;
          padding-right: 12dvw;
          padding-left: 12dvw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          @media (max-width: 650px) {
            p{
              font-size: 0.8rem;
            }
          }
        }
        /*.enter{
          position: absolute;
          font-size: 5dvh;
          z-index: 19;

          &:hover{
            color: white;
            transition: 1s;
          }
          @media (max-width: 650px) {
            display: none;
          }

        }*/
        .cofee{
          width: 50px;
          height: 50px;

          filter: invert(1);
        }
        .cofeeContainer {
          position: absolute;
          bottom: 0;
          right: 10px;
          display: flex;
          flex-direction: column-reverse;
        }
        .smoke{
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-left: 3px;
        }
        .cofeeSmoke{
          width: 4px;
          height: 15px;
          border-radius: 4px;
          background-color: white;
          margin-left: 3px;
          margin-right: 3px;
          margin-bottom: -8px;
          animation-name: smoking;
          animation-duration: 6000ms;
          animation-iteration-count: infinite;
        }
        .secondSmoke{
          animation-delay: 500ms;
        }

        @keyframes smoking{
          0% {
              opacity: 1;
          }
          40% {
              opacity: 0;
              transform:  translate(0,-10px) ;
          }
          100% {
            opacity: 0 ;
            transform:  translate(0,0px)
          }  
        }
        .loading{
          display: flex;
          justify-content: center;
          .dot1{
            width: 6px;
            height: 6px;
            border-radius: 4px;
            background-color: white;
            margin: 4px;
            animation-name: dot;
            animation-duration: 3000ms;
            animation-iteration-count: infinite;
          }
          .dot2{
            width: 6px;
            height: 6px;
            border-radius: 4px;
            background-color: white;
            margin: 4px;
            animation-name: dot2;
            animation-duration: 3000ms;
            animation-iteration-count: infinite;
          }
          .dot3{
            width: 6px;
            height: 6px;
            border-radius: 4px;
            background-color: white;
            margin: 4px;
            animation-name: dot3;
            animation-duration: 3000ms;
            animation-iteration-count: infinite;
          }
          @keyframes dot{
            0% {
                opacity: 0;
            }
            33% {
                opacity: 1 ;
            } 
            66% {
              opacity: 1 ;
          } 
            100% {
              opacity: 1 ;
          } 
          }
          @keyframes dot2{
            0% {
                opacity: 0;
            }
            33% {
                opacity: 0 ;
            } 
            66% {
              opacity: 1 ;
          } 
            100% {
              opacity: 1 ;
          } 
          }
          @keyframes dot3{
            0% {
                opacity: 0;
            }
            33% {
              opacity: 0 ;
          } 
          66% {
            opacity: 0 ;
          } 
            100% {
                opacity: 1 ;
            } 
          }
        }
      }
    }
    .animation {
      display: block;
      position: relative;
      z-index: 10;
    }
    .animation_layer {
      width: 100%;
      position: absolute;
    }
    .animation_layer.parallax {
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: center;
    } 
    .image {
      height: 180vh;
    }

}
