.withe {
  position: relative;
  overflow: hidden;
}
.withe .background {
  position: absolute;
  top: 0;
  z-index: -1;
}
.withe .reco:hover .like {
  right: -15px;
  transition: 1000ms;
}
.withe .reco {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100dvw;
  overflow: hidden;
  /*.buttonAndBackground{
      margin-bottom: 150px;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
  }*/
}
@media (max-width: 650px) {
  .withe .reco {
    flex-direction: column-reverse;
  }
  .withe .reco .recoTxt {
    width: 100%;
  }
  .withe .reco .buttonAndBackground {
    margin-bottom: 20px;
  }
}
.withe .reco .recoTxt {
  width: 70%;
}
.withe .reco .like {
  /*.pocContain{
      filter: invert(1);
  }*/
  color: black;
  background-color: white;
  transition: 1000ms;
  position: absolute;
  bottom: 20px;
  opacity: 0.6;
  z-index: 6;
  right: -350px;
  border-radius: 20px;
  padding-left: 20px;
}
@media (max-width: 650px) {
  .withe .reco .like {
    right: -15px;
  }
}
.withe .reco .buttonAndBackground {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.withe .reco .like {
  background-color: black;
  color: white;
}
.withe .reco .like img {
  filter: invert(1);
}
.withe .intro {
  padding: 100px 50px 100px 250px;
}
.withe .intro textarea {
  font-family: "hayanbaram", sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.5;
}
@media (max-width: 650px) {
  .withe .intro {
    padding: 50px 0px 0px 0px;
  }
}
.withe .slider {
  width: 100%;
  margin: auto;
  height: 79dvh;
  min-height: 200px;
  overflow: hidden;
}
.withe .tools {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 12dvh;
}
@media (max-width: 650px) {
  .withe .tools {
    flex-direction: column;
  }
}
.withe .collapse {
  width: 30%;
  padding-left: 1dvw;
}
@media (max-width: 650px) {
  .withe .collapse {
    width: 90%;
    margin: auto;
  }
}
.withe .collapse .logo {
  width: 20px;
  height: 20px;
  padding-right: 10px;
  margin-top: 15px;
}
.withe .competences {
  width: 100dvw;
  margin-top: 35dvh;
}
.withe .competences .contentSkills {
  width: 90%;
  margin: auto;
}
@media (max-width: 650px) {
  .withe .competences {
    width: 100%;
  }
}
.withe .skills {
  margin: auto;
}
.withe .logoAndTitle {
  display: flex;
  flex-direction: row;
}
.withe .collapseContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.withe .collapseContent .toolTitle {
  padding-right: 30px;
}
.withe .footerPlace {
  width: 100%;
  height: 8dvh;
}

.projets {
  margin-top: 45dvh;
  margin-bottom: 12dvh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.accueil {
  position: relative;
}

#accueil {
  position: absolute;
}
@media (max-width: 650px) {
  #accueil {
    top: -130px;
  }
}

.contact {
  position: relative;
  margin-top: 150px;
}

#contact {
  position: absolute;
  top: -150px;
}

.competences {
  position: relative;
}
.competences #competences {
  position: absolute;
  top: -27dvh;
}
.competences .projets {
  position: relative;
}
.competences #projets {
  position: absolute;
  top: -27dvh;
}/*# sourceMappingURL=home.css.map */