
.withe {
    background-color: white;
    .slider{
        width: 100%;
        margin: auto;
        height: 71dvh;
        overflow: hidden;

    }
    .footerPlace {
        width: 100%;
        height: 8dvh;
    }
}