.withe {
    position: relative;
    overflow: hidden;
    .background{
        position: absolute;
        top: 0;
        z-index: -1;
    }
    .reco:hover {
        .like{
            right: -15px;
            transition: 1000ms;
        }
    }
    .reco{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100dvw;
        overflow: hidden;

        @media (max-width: 650px) {
            flex-direction: column-reverse;
            .recoTxt{
                width: 100%;
            }
            .buttonAndBackground{
                margin-bottom: 20px;
            }
          }
        .recoTxt{
            width: 90%;
            margin: auto;
        }
        .like{
            transition: 1000ms;
            position: absolute;
            bottom: 20px;
            opacity: 0.6;
            z-index: 6;
            right: -350px;
            border-radius: 20px;
            padding-left: 20px;
            //color: white;
            /*background-color: black;
            img{
                filter: invert(1);
            }*/
            @media (max-width: 650px) {
                right: -15px;
              }
        }
    }
    .tools{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        @media (max-width: 650px){
            flex-direction: column;
        }
        margin-top: 12dvh;
    }
    .collapse{
        width: 30%;
        padding-left: 1dvw;
        @media (max-width: 650px){
            width: 90%;
            margin: auto;
        }
        .logo{
            width: 20px;
            height: 20px;
            padding-right: 10px;
            margin-top: 15px;
        }
    }
    .competences{
        width: 100dvw;
        margin-top: 35dvh;
        .contentSkills{
            width: 90%;
            margin: auto;
        }
        @media (max-width: 650px){
            width: 100%;
        }
    }
    .skills{
        margin: auto;
    }
    .logoAndTitle{
        display: flex;
        flex-direction: row;
        .logo{
            align-items: center;
        }
    }
    .collapseContent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .projets{
        margin-top: 200px;
        margin-bottom: 12dvh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .accueil{
        position: relative;
    }
    #accueil{
        position: absolute;
        top: -60px;
        @media (max-width: 650px){
            top: -130px;
        }
    }
    .contact{
        margin-top: 150px;
    }
    .competences{
        position: relative;
    }
}
