.contactHidden{
    @media (max-width: 650px) {
        transition: 1s;
        z-index: -1;
        //left: 100dvw;
    }


}

.contactField{
    position: relative;
    //background: linear-gradient(rgb(255, 255, 255), rgba(157, 59, 143, 0.0));
    display: flex;
    flex-direction: column;
    //padding-top: 150px;

    .like{
        top: 30dvh;
        right: -10px;
        //z-index: 12;
    }
    .messageAndButton{
        position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    }
    .dots{
        padding-top: 2px;
        padding-left: 4px;
        width: 20px;
    }
    .one{
        display: flex;
        flex-direction: row;
        margin: auto;
        //justify-content: start;
        //align-items: center;
    }
    .bd{
        background-color: white;

        height: 40px;
        position: fixed;
        border: 2px solid black;
        top: 130px;
        left: 25px;
        z-index: 12;
        border-radius: 10px;
        display: flex;
        transition: 1s;
        //opacity: 0.3;
        overflow: hidden;
        .p{
            margin: auto;
        }

    }
    .textareaForContact{
        margin: auto;
        width: 95%;
        height: 40dvh;
        resize: none;
        border: none;
        box-shadow: 0px 2px 5px black;
        border-radius: 5px;
    }
    .textareaForContact:focus{
        outline:2px solid #99477a;
    }
    .textareaForMail{
        margin: auto;
        text-align: center;
        width: 250px;
        height: 4dvh;
        resize: none;
        border: none;
        //outline: none;
        box-shadow: 0px 2px 5px black;
        //padding-top: 1dvh;
        //margin-bottom: 10px;
        border-radius: 5px;
        display: flex;
    }
    .textareaForMail:focus{
        outline:2px solid #99477a;
    }
    .witheBack{
        width: 100%;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8;
        background-color: white;
        transition: 1s;
    }
    .noBack{
        width: 100%;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 4s;
        background-color: none;
        //display: none;
    }
    .reponse{
        width: calc(100% - 50px);
        height: calc(100dvh - 210px);
        background-color: white;
        position: fixed;
        z-index: 13;
        left: 25px;
        border: 2px solid black;
        border-radius: 10px;
        display: flex;
        //overflow: hidden;
    }
    .triangleResponse {
        z-index: 13;
        position: absolute;
        bottom: -15px;
        transform: rotate(180deg);
        right: 80px;
        width: 22px;
      }
    .visibleResponse{
        top: 180px;
        transition: 1s;
    }
    .hiddenResponse{
        top: 200dvh;
        transition: 1s;
    }
    .noDiscuss{
        width: 100px;
        cursor: pointer;
    }
    .noDiscuss:hover{
        width: 140px;
        transition: 1s;
    }
    .discuss{
        width: calc(100% - 50px);
        //position: relative;
    }  
    .triangle {
        z-index: 13;
        position: fixed;
        top: 117px;
        left: 80px;
        width: 22px;
      }
    .cross{
        width: 30px;
        position: absolute;
        right: 5px;
        //top: 133px;
        top: 5px;
        cursor: pointer;
    }
    .hello{
        //padding: 12px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .helloContainer{
        position: relative;
        width: 100%;
        display: flex;
        padding-left: 15px;
        padding-right: 30px;
    }
    .bdContent{
        display: flex;
        //flex-direction: column;
        width: 100%;
        //justify-content: center;
        margin: auto;
    }
    @media (max-width: 650px) {
        .messagePlace{
            .textArea{
                textarea{
                    min-height: 200px;
                }
            }
        }
      }
    /*.cvAndMail{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }*/
    .divForButton{
        width: 100%;
        display: flex;
        justify-content: center;
        //margin-bottom: 10px;
        margin: auto;
    }
    .buttonSend{
        //margin: auto;
        width: 320px;
        //margin-left: auto;
        //margin-right: auto;
        //margin: auto;
        background-color: white;
        border: 0px;
        //color: #eee;
        //outline:none
    }
}





