.contactField{
    background: linear-gradient(rgb(255, 255, 255), rgba(157, 59, 143, 0.0));
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    .bd{
        background-color: white;

        height: 40px;
        position: fixed;
        border: 2px solid black;
        top: 130px;
        left: 25px;
        z-index: 12;
        border-radius: 10px;
        display: flex;
        transition: 1s;
        //opacity: 0.3;
        overflow: hidden;
        .p{
            margin: auto;
        }
    }
    .textareaForContact{
        margin: auto;
        width: 95%;
        height: 40dvh;
        resize: none;
        border: none;
        outline: none;
    }
    .witheBack{
        width: 100%;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8;
        background-color: white;
        transition: 1s;
    }
    .noBack{
        width: 100%;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 4s;
        background-color: none;
        //display: none;
    }
    .reponse{
        width: calc(100% - 50px);
        height: calc(100dvh - 210px);
        background-color: white;
        position: fixed;
        z-index: 13;
        left: 25px;
        border: 2px solid black;
        border-radius: 10px;
        display: flex;
    }
    .triangleResponse {
        z-index: 13;
        position: absolute;
        bottom: -15px;
        transform: rotate(180deg);
        right: 80px;
        width: 22px;
      }
    .visibleResponse{
        top: 180px;
        transition: 1s;
    }
    .hiddenResponse{
        top: 200dvh;
        transition: 1s;
    }
    .noDiscuss{
        width: 85px;
        cursor: pointer;
    }
    .noDiscuss:hover{
        width: 140px;
        transition: 1s;
    }
    .discuss{
        width: calc(100% - 50px);
        //position: relative;
    }  
    .triangle {
        z-index: 13;
        position: fixed;
        top: 117px;
        left: 80px;
        width: 22px;
      }
    .cross{
        width: 20px;
        position: absolute;
        right: 5px;
        //top: 133px;
        top: 5px;
        cursor: pointer;
    }
    .hello{
        //padding: 12px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .helloContainer{
        position: relative;
        width: 100%;
        display: flex;
    }
    .bdContent{
        display: flex;
        width: 100%;
    }
    @media (max-width: 650px) {
        .messagePlace{
            .textArea{
                textarea{
                    min-height: 200px;
                }
            }
        }
      }
    .cvAndMail{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    /*.button:active{
        background-color: white;
        color: black;
        transition: all 0s;
    }
    .button{

        color: white;
        transition: all 1s;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 255, 0.0);
        color: white;
        z-index: 2;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
    }
    .buttonAndBackground{

        background-image:   url("../../../public/assets/snow.gif");
        border-radius: 20px;
        overflow: hidden;
        height: 35px;
        width: 300px;
        border: solid #6d477a ;
        margin: auto;
    }*/

    .like{
        .like{
            background-color: black;
        }
       .pocContain{
            color: white;
        }
        p{
            color: white;
        }
        .logoLike{
            filter: invert(1);
        }
    }
    .inputMail{
        //background-image:   url("../../../public/assets/snow.gif");
        //height: 100%;
        //width: 100%;
        //height: 35px; 
        width: 300px;
        //width: 100%
        textarea{
            text-align: center;
            padding-top: 34px;
        }
        @media (max-width: 650px) {
            width: 80%;
          }

    }
    .message{
        width: 80dvw;
        margin: auto;
        textarea{
            min-height: 130px;
        }
        @media (max-width: 650px) {
            width: 80dvw;
            margin: auto;
          }
    }
    input{

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: solid #6d477a;
        text-align: center;
        //border: none;
        //height: 100%;
        //width: 100%;
        border-radius: 20px;
        //position: absolute;
        background-color: rgba(0, 0, 255, 0.0);
        color: white;
        z-index: 2;
        padding-left: 10px;
        //top: -1px;
        transition: all 1s;
        font-family: "abacaxi-devanagari", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 1rem;
        padding-top: 2px;
    }
    input:focus{
        //border: none;
        border:  solid #99477a ;
        outline: none;
        background-color: white;
        color: black;
        transition: all 1s;


    }
    .elements{
        margin-top: 25px;
    }
    .divForButton{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .buttonSend{
        //margin: auto;
        width: 320px;
        //margin-left: auto;
        //margin-right: auto;
        //margin: auto;
        background-color: white;
        border: 0px;
        //color: #eee;
        //outline:none
    }
}





