.contactHidden{
    @media (max-width: 650px) {
        transition: 1s;
        z-index: -1;
        //left: 100dvw;
    }


}

.contactField{
    position: relative;
    //background: linear-gradient(rgb(255, 255, 255), rgba(157, 59, 143, 0.0));
    display: flex;
    flex-direction: column;
    //padding-top: 150px;
    .like{
        //top: 30dvh;
        right: -10px;
        //z-index: 12;
        bottom: 2dvh;
        @media (max-height: 270px) {
            display: none;
        }
    }
    .p{
        //position: absolute;
        padding-right: 5px;
    }
    .messageAndButton{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
       justify-content: space-between;
        overflow: hidden;
    }
    .dots{
        padding-top: 2px;
        padding-left: 4px;
        width: 20px;
    }
    .one{
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    .bd{
        background-color: white;
        height: 40px;
        position: fixed;
        border: 2px solid black;
        top: 130px;
        left: 25px;
        z-index: 12;
        border-radius: 10px;
        display: flex;
        transition: 1s;
        overflow: hidden;
        .p{
            margin: auto;
        }

    }
    .textareaForContact{
        margin: auto;
        width: 95%;
        //height: 40dvh;
        //height: max-content;
        height: 80%;
        resize: none;
        border: none;
        box-shadow: 0px 2px 5px black;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .textareaForContact:focus{
        outline:2px solid #99477a;
    }
    .textareaForMail{
        margin: auto;
        text-align: center;
        width: 250px;
        height: 20px;
        min-height: 20px;
        margin-top: 20px;
        margin-bottom: 22px;
        resize: none;
        border: none;
        //outline: none;
        box-shadow: 0px 2px 5px black;
        //padding-top: 1dvh;
        //margin-bottom: 10px;
        border-radius: 5px;
        display: flex;
        @media  (max-width: 649px){
            margin-left: 10px;
            width: 50%;
        }
    }
    .textareaForMail:focus{
        outline:2px solid #99477a;
    }
    .witheBack{
        width: 100%;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8;
        background-color: white;
        transition: 1s;
    }
    .noBack{
        width: 100%;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 4s;
        background-color: none;
        //display: none;
    }
    .reponse{
        width: calc(100% - 50px);
        height: calc(100dvh - 210px);
        background-color: white;
        position: fixed;
        z-index: 13;
        left: 25px;
        border: 2px solid black;
        border-radius: 10px;
        display: flex;
        //overflow: hidden;
        @media (max-width: 650px) {
            height: calc(100dvh - 155px);
        }
    }
    .triangleResponse {
        z-index: 13;
        position: absolute;
        bottom: -15px;
        transform: rotate(180deg);
        right: 80px;
        width: 22px;
      }
    .visibleResponse{
        top: 180px;
        transition: 1s;
        @media (max-width: 650px) {
            top: 140px;
        }
    }
    .hiddenResponse{
        top: 200dvh;
        transition: 1s;
    }
    .noDiscuss{
        width: 100px;
        cursor: pointer;
        @media (max-width: 650px) {
            top: 90px;
            left: 150px;
            //width: calc(100% - 270px);
            //height: 120px;
        }
    }
    .noDiscuss:hover{
        width: 140px;
        transition: 1s;
    }
    .discuss{
        width: calc(100% - 50px);
        @media (max-width: 650px) {
            top: 10px;
            left: 150px;
            width: calc(100% - 270px);
            height: 120px;

        }
        @media (max-width: 450px) {
            span{
                font-size: 0.7rem;
                line-height: 0.1rem;
            }
        }
        //position: relative;
    }  
    .triangle {
        z-index: 13;
        position: fixed;
        top: 117px;
        left: 80px;
        width: 22px;
        transition: 1s;
        transition-delay: 1s;
        opacity: 1;
        @media (max-width: 650px) {
            opacity: 0;
            transition: 0s;
            //transition-delay: 1s;
        }
      }
    .triangleMini{
        z-index: 13;
        position: fixed;
        top: 100px;
        transform: rotate(-90deg);
        left: 134px;
        width: 22px;
        opacity: 0;
        transition: 0s;
        //transition-delay: 1s;
        @media (max-width: 650px) {
            opacity: 1;
            transition: 1s;
            transition-delay: 1s;
        }
    }
    .cross{
        width: 30px;
        position: absolute;
        right: 5px;
        //top: 133px;
        top: 5px;
        width: 30px;
        cursor: pointer;
        /*@media (max-width: 650px) {
            position: fixed;
            right: 120px;
            top: 15px;
            transition: 1s;
        }*/
    }
    .hello{
        //padding: 12px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .helloContainer{
        position: relative;
        width: 100%;
        display: flex;
        padding-left: 15px;
        padding-right: 30px;
    }
    .bdContent{
        display: flex;
        //flex-direction: column;
        width: 100%;
        //justify-content: center;
        margin: auto;
    }
    @media (max-width: 650px) {
        .messagePlace{
            .textArea{
                textarea{
                    min-height: 200px;
                }
            }
        }
      }
    .divForButton{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
        z-index: 12;
    }
    .buttonSend{
        border: 0px;
        background-color: transparent;
        position: absolute;
        top: 6px;
        right: 6px;
        animation-name: clignote;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        display: flex;
        flex-direction: row;
        span{
            padding-top: 19px;
            padding-right: 5px;
            @media  (max-width: 460px){
                display: none;
            }
        }
        @keyframes clignote{
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0.5;
            }
            100% {
              opacity: 1 ;

            }  
          }
        .purpleAndWitheTextarea{
            height: 40px ;
            width: 40px;

        }
        .purpleAndWitheTextarea:hover{
            box-shadow: none;
            height: 40px ;
            width: 40px;
        } 
        .send{
            .purpleAndWitheTextarea:hover{
                box-shadow: 0px 5px 5px black;
            } 
        }
    }
}





