.blank {
    height: 10px;
}

.content-parent {
    max-height: 0px;
    overflow: hidden;
    transform: translateY(0px);
    transition: all ease 0.9s;
    //border-radius: 0 0 5px 5px;
    //background-color:#F6F6F6;
    margin: 0px 0px 0px 0px;
    z-index: -1;
    width: 100%;
}
    
.content-show {
    overflow: hidden;
    transform: translateY(0px);
    transition: all ease 0.9s;
    max-height: 2500px;
    //background-color:#F6F6F6;
    margin: 0px 0px 0px 0px;
    z-index: -1;
    width: 100%;
    .content{
        border-radius: 0 0 20px 20px;
    }
}

.content {
    margin-top: 0;
    padding: 20px;
    color: white;
    background-color: #99477a;
    opacity: 0.8;
    transition: all ease-in-out 4s; 
    border-radius: 0 0 20px 20px;
    img{
        filter: invert(1);
    }
}


.headerCollapse {
    height: 5dvh;
    width: 98%;
    background-color: #6d477a;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    z-index: 3;
    cursor: pointer;
    min-height: 30px;
    padding-top: 10px;
    @media (max-width: 650px) {
        height: 5dvh;
    }
    span {
        margin-left: auto;
        margin-right: auto;
    }
    img {
        width: 24px;
        height: 14px;
        margin-right: 20px;
        margin-top: 3px;
        cursor: pointer; 
    }


}
.open{
    border-radius:  20px 20px 0px 0px;
    //transition: all 0.1s;
}
.close{
    border-radius:  20px 20px 20px 20px;
    transition: all 3s;
    transition-delay: 0.8s;
}

.openArrow {
    transform: rotate(180deg);
    transition: all ease 0.9s;  
}

.closedArrow {
    transform: rotate(0deg);
    transition: all ease 0.9s;  
}

.collapseField:hover{
    //transform: translate(0px,-1px);
    .content{

        opacity: 1;
        //transition-duration: 4s;
        transition: all ease-in-out 4s; 
        //transition-timing-function: linear;
    }
}