.like{
    display: flex;
    flex-direction: row;
    min-width: 100px;
    .poc{
        position: absolute;
        display: none;
        margin-top: -5px;
        //margin-left: 45px;
        //margin-right: 0;
        //z-index: 18;
        //display: inline-block;
    }
    .pocContain{
        position: relative;
    }
    .poc1{
        left: 0px;
        top: -10px;
    }
    .poc2{
        left: 3px;
        top: -15px;
    }
    .poc3{
        left: 10px;
        top: -17px;
    }
    .poc4{
        left: 17px;
        top: -15px;
    }
    .poc5{
        left: 20px;
        top: -10px;
    }
    .checked{
            animation-name: like;
            animation-duration: 2000ms;
            .poc{
                transform: translateY(-2px);
                display: block;
                animation-name: poc;
                animation-duration: 2000ms;
                pointer-events: none;
            }
            img{
                pointer-events: none;
                cursor: none;
            }
        }
    .buttonLike{
        background: none;
	    color: inherit;
	    border: none;
        .logoLike{
            width: 20px;
            cursor: pointer;
            margin-top: 0px;
        }
    }
}
@keyframes like{
    0% {
        //transform: rotate(0deg);
        transform: translateX(-1px);
    }
    12% {
        //transform: rotate(0deg);
        transform: translateX(1px);
    }
    25% {
        //transform: rotate(-20deg);
        transform: translateX(-2px);
    }  
    37% {
        //transform: rotate(0deg);
        transform: translateX(1px);
    }  
    50% {
        //transform: rotate(0deg);
        transform: translateX(0px);
    }  
    90% {
        //transform: rotate(0deg);
        transform: translateX(-1px);
    }  
    100% {
        //transform: rotate(0deg);
        transform: translateX(0px);
    }  
  }
  @keyframes poc{
    0% {
        //transform: rotate(0deg);
        //transform: translateX(-1px);
        opacity: 0;
    }
    25% {
        //transform: rotate(0deg);
        //transform: translateX(-1px);
        opacity: 0;
    }

    30% {
        //transform: rotate(-20deg);
        opacity: 1;
    }  
    90% {
        //transform: rotate(0deg);
        //transform: translateX(0px);
        opacity: 1;
    }  
    100% {
        //transform: rotate(0deg);
        //transform: translateX(0px);
        opacity: 1;
    }  
  }

.like{
    transition: 1000ms;
    position: absolute;
    right: -350px;
    //top: 140px;
    //bottom: 20px;
    opacity: 0.8;
    z-index: 6;
    background-color: black;
    border-radius: 20px;
    padding-left: 20px;
    //z-index: 18;
    color: white;
    @media (max-width: 650px) {
        right: -10px;
      }
}
