.like{
    display: flex;
    flex-direction: row;
    min-width: 100px;
    transition: 1000ms;
    position: absolute;
    right: -350px;
    opacity: 0.8;
    z-index: 6;
    //background-color: black;
    border-radius: 20px;
    padding-left: 20px;
    //color: white;
    /*img{
        filter: invert(1);
    }*/
    @media (max-width: 650px) {
        right: -10px;
    }
    .poc{
        position: absolute;
        display: none;
        margin-top: -5px;
    }
    .pocContain{
        position: relative;
    }
    .poc1{
        left: 0px;
        top: -4px;
    }
    .poc2{
        left: 3px;
        top: -9px;
    }
    .poc3{
        left: 10px;
        top: -11px;
    }
    .poc4{
        left: 17px;
        top: -9px;
    }
    .poc5{
        left: 20px;
        top: -4px;
    }
    .checked{
            animation-name: like;
            animation-duration: 2000ms;
            .poc{
                //transform: translateY(-2px);
                display: block;
                animation-name: poc;
                animation-duration: 2000ms;
                //pointer-events: none;
            }
            img{
                //pointer-events: none;
                //cursor: none;
            }
        }
    .buttonLike{
        background: none;

	    border: none;
        .logoLike{
            width: 20px;
            cursor: pointer;
            //margin-top: 0px;
        }
    }
}
@keyframes like{
    0% {
        //transform: rotate(0deg);
        transform: translateX(-1px);
    }
    6% {
        //transform: rotate(0deg);
        transform: translateX(1px);
    }
    12% {
        //transform: rotate(-20deg);
        transform: translateX(-1px);
    }  
    18% {
        //transform: rotate(0deg);
        transform: translateX(1px);
    }  
    24% {
        //transform: rotate(0deg);
        transform: translateX(-1px);
    }  
    32% {
        //transform: rotate(0deg);
        transform: translateX(1px);
    }  
    40% {
        //transform: rotate(0deg);
        transform: translateX(0px);
    }  
    100%{
        transform: translateX(0px);
    }
  }
  @keyframes poc{
    0% {
        //transform: rotate(0deg);
        //transform: translateX(-1px);
        opacity: 0;
    }
    35% {
        //transform: rotate(0deg);
        //transform: translateX(-1px);
        opacity: 0;
    }

    37% {
        //transform: rotate(-20deg);
        opacity: 1;
    }  
    70% {
        //transform: rotate(0deg);
        //transform: translateX(0px);
        opacity: 1;
    }  
    100% {
        //transform: rotate(0deg);
        //transform: translateX(0px);
        opacity: 1;
    }  
  }

.likeColorwithe{
    background-color: white;
    .buttonLike{
        color: black;
    }
    p{
        color: black;
    }
    color: black;
    img{
        filter: invert(0);
    }

}
.likeColorblack{
    background-color: black;
    .buttonLike{
        color: inherit;
    }
    p{
        color: white;
    }
    //color: black;
    img{
        filter: invert(1);
    }

}
