.projectContentAndBackground {
    position: relative;
    height: 55dvh;
    @media (max-width: 650px) {
        height: 85dvh;
    }
    width: 80%;
    margin: auto;
    margin-top: 12dvh;
    .projectContent{
        position: absolute;
        //top: 0;
        padding: 10px;
        color: white;
        text-align: center;
        z-index: 2;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 20px;
        border: solid  #6d477a;
        width: 100%;
        height: 100%;
        font-size: 1rem;
        @media (max-width: 650px) {
              font-size: 0.8rem;
          }
    }
}
.projectPage{
    position: relative;
    #project{
        position: absolute;
        top: -100px;
    }
    .buttonLikeProjectContent{
        position: absolute;
        left: 92dvw;
        //top: 0dvh;
        z-index: 6;
        @media (max-width: 650px){
            //top: 28dvh;
            left: 70dvw;
        }
    }
    .slider{
        margin-top: 0px;
        //height: 90dvh;
        height: calc(100dvh - 60px);
        @media (max-width: 650px){
            height: calc(100dvh - 130px);
        }
    }
    .textAndLinks{
        width: 80dvw;
        margin: auto;
        margin-top: 100px;
    }
    .tools{
        margin-top: 21dvh;
        margin-bottom: 21dvh;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        @media (max-width: 650px){
            flex-direction: column;
        }
        margin-top: 12dvh;
    }
    .collapse{
        width: 30%;
        padding-left: 1dvw;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 650px){
            width: 90%;
            margin: auto;
        }
        .logo{
            width: 20px;
            height: 20px;
            padding-right: 10px;
            margin-top: 15px;
        }
    }
    .skills{
        margin: auto;
    }
    .logoAndTitle{
        display: flex;
        flex-direction: row;
    }
    .collapseContent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .toolTitle{
            padding-right: 30px;
        }
        //justify-content: space-around;
    }
    .projectLink{
        color: white;
        transition: 1s;
    }
    .projectLink:hover{
        color: #99477a;
        transition: 1s;
    }

}


